@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
root {
  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto", "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

.wrap {
  background-color: #496989;
  min-height: 100vh;

  padding: 20px;
}

.heading {
  margin: 10px auto 40px auto;
}

.heading .title {
  font-size: 30px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
}

.heading .subtitle {
  font-size: 20px;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
}

.task-manager {
  min-width: 350px;
  max-width: 450px;
  margin: auto;
}

.search-box,
.task-box,
.message {
  background-color: #eeeeee;
  padding: 20px 25px;
  border-radius: 3px;
  margin: 20px 0px;
}

.search-box .search {
  display: flex;
  margin: 10px 0px;
}
.search-box input {
  border-radius: 3px;
  width: 100%;
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
}

.search-box i.reset {
  font-size: 24px;
  height: 100%;
  padding: 10px 0px;
  cursor: pointer;
}

.task-box .task {
  margin: 10px 0px;
}

.task-box li {
  background-color: #dddddd;
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
}

.task-box span {
  padding: 10px;
}

.task-box i.delete {
  color: #eeeeee;
  background-color: #a0153e;
  border-radius: 0px 2px 2px 0px;
  height: 100%;
  padding: 10px;
  cursor: pointer;
}

.task-box .add {
  display: flex;
  margin: 30px 0px 10px 0px;
}

.task-box input[type="text"] {
  border-radius: 3px;
  width: 100%;
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
}

.task-box input[type="submit"] {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #627254;
  border: 0px;
  border-radius: 3px;
}
.message {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message button {
  border: 0px;
  background-color: #58a399;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
}
